In [2]:
import pandas as pd

In [189]:
election2016 = pd.read_excel('federalelections2016.xlsx', header=3, nrows=51,
                            sheet_name='Table 2. Electoral &  Pop Vote')

# Crete column index
election2016.set_axis(["State", "Electoral Republican", "Electorial Democrats", 
                   "Popular Republican", "Popular Democrats", "Popular Other", "Popular Total"], 
                      axis=1, inplace=True)

# Figure R vs D state
election2016['Party'] = election2016.apply(lambda x:"R" if x['Popular Republican'] > x['Popular Democrats'] else "D", 
                                           axis=1)
# Only keep party information
election2016=election2016[['State', 'Party']]

# Use State as index
election2016.set_index(['State'], inplace=True)

election2016.head(10)

      Party
State
AL        R
AK        R
AZ        R
AR        R
CA        D
CO        D
CT        D
DE        D
DC        D
FL        R

In [184]:
covid = pd.read_csv('United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')

# Only care about number of new death
covid = covid[['submission_date', 'state', 'new_death']]

# Rename columns
covid.set_axis(['Submission Date', 'State', 'Death'], axis=1, inplace=True)

covid.head(10)

  Submission Date State  Death
0      01/22/2020    CO      0
1      01/23/2020    CO      0
2      01/24/2020    CO      0
3      01/25/2020    CO      0
4      01/26/2020    CO      0
5      01/27/2020    CO      0
6      01/28/2020    CO      0
7      01/29/2020    CO      0
8      01/30/2020    CO      0
9      01/31/2020    CO      0

In [185]:
covid['Rolling 7 Day Death'] = covid.rolling(7).mean()['Death']
# Remote Jan since the rolling function "bleed through" across states
covid.drop(covid[covid['Submission Date'].str.match('^01/.?.?/2020')].index, inplace=True)

In [187]:
# Use State as index
covid.set_index(['State'], inplace=True)

In [188]:
covid

      Submission Date  Death  Rolling 7 Day Death
State
CO         02/01/2020      0                  0.0
CO         02/02/2020      0                  0.0
CO         02/03/2020      0                  0.0
CO         02/04/2020      0                  0.0
CO         02/05/2020      0                  0.0
...               ...    ...                  ...
PW         10/27/2020      0                  0.0
PW         10/28/2020      0                  0.0
PW         10/29/2020      0                  0.0
PW         10/30/2020      0                  0.0
PW         10/31/2020      0                  0.0

[16440 rows x 3 columns]