In [2]:
import pandas as pd

In [52]:
election2016 = pd.read_excel('federalelections2016.xlsx', header=3, nrows=51,
                            sheet_name='Table 2. Electoral &  Pop Vote')

In [58]:
election2016.set_axis(["State", "Electoral Republican", "Electorial Democrats", 
                   "Popular Republican", "Popular Democrats", "Popular Other", "Popular Total"], 
                      axis=1, inplace=True)

In [59]:
# Figure R vs D state
election2016['Party'] = election2016.apply(lambda x:"R" if x['Popular Republican'] > x['Popular Democrats'] else "D", 
                                           axis=1)

In [60]:
election2016

,State,Electoral Republican,Electorial Democrats,Popular Republican,Popular Democrats,Popular Other,Popular Total,Party
0,AL,9,NaN,1318255,729547,75570,2123372,R
1,AK,3,NaN,163387,116454,38767,318608,R
2,AZ,11,NaN,1252401,1161167,159597,2573165,R
3,AR,6,NaN,684872,380494,65310,1130676,R
4,CA,NaN,55,4483814,8753792,943998,14181604,D
5,CO,NaN,9,1202484,1338870,238893,2780247,D
6,CT,NaN,7,673215,897572,74133,1644920,D
7,DE,NaN,3,185127,235603,23084,443814,D
8,DC,NaN,3,12723,282830,15715,311268,D
9,FL,29,NaN,4617886,4504975,297178,9420039,R
10,GA,16,NaN,2089104,1877963,147665,4114732,R
11,HI,NaN,3**,128847,266891,33199,428937,D
12,ID,4,NaN,409055,189765,91435,690255,R
13,IL,NaN,20,2146015,3090729,299680,5536424,D
14,IN,11,NaN,1557286,1033126,144546,2734958,R
15,IA,6,NaN,800983,653669,111379,1566031,R
16,KS,6,NaN,671018,427005,86379,1184402,R
17,KY,8,NaN,1202971,628854,92324,1924149,R
18,LA,8,NaN,1178638,780154,70240,2029032,R
19,ME,1,3,335593,357735,54599,747927,D
20,MD,NaN,10,943169,1677928,160349,2781446,D
21,MA,NaN,11,1090893,1995196,238957,3325046,D
22,MI,16,NaN,2279543,2268839,250902,4799284,R
23,MN,NaN,10,1322951,1367716,254146,2944813,D
24,MS,6,NaN,700714,485131,23512,1209357,R
25,MO,10,NaN,1594511,1071068,143026,2808605,R
26,MT,3,NaN,279240,177709,40198,497147,R
27,NE,5,NaN,495961,284494,63772,844227,R
28,NV,NaN,6,512058,539260,74067,1125385,D
29,NH,NaN,4,345790,348526,49980,744296,D
30,NJ,NaN,14,1601933,2148278,123835,3874046,D
31,NM,NaN,5,319667,385234,93418,798319,D
32,NY,NaN,29,2819533,4556118,345791,7721442,D
33,NC,15,NaN,2362631,2189316,189617,4741564,R
34,ND,3,NaN,216794,93758,33808,344360,R
35,OH,18,NaN,2841005,2394164,261318,5496487,R
36,OK,7,NaN,949136,420375,83481,1452992,R
37,OR,NaN,7,782403,1002106,216827,2001336,D
38,PA,20,NaN,2970733,2926441,268304,6165478,R
39,RI,NaN,4,180543,252525,31076,464144,D
40,SC,9,NaN,1155389,855373,92265,2103027,R
41,SD,3,NaN,227721,117458,24914,370093,R
42,TN,11,NaN,1522925,870695,114407,2508027,R
43,TX,36*,NaN,4685047,3877868,406311,8969226,R
44,UT,6,NaN,515231,310676,305523,1131430,R
45,VT,NaN,3,95369,178573,41125,315067,D
46,VA,NaN,13,1769443,1981473,233715,3984631,D
47,WA,NaN,8**,1221747,1742718,352554,3317019,D
48,WV,5,NaN,489371,188794,36258,714423,R
49,WI,10,NaN,1405284,1382536,188330,2976150,R
50,WY,3,NaN,174419,55973,25457,255849,R